{% extends 'mailings/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/sign-in.css' %}">
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <main class="form-signin w-100 m-auto">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary w-100 py-2" type="submit">Войти</button>
                <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
            </form>
            <p>Нет учетной записи? <a href="{% url 'users:register' %}">Регистрация</a></p>
        </main>
    </div>

{% endblock %}